body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background-color: pink;
}

h3 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 60px;
  font-family: 'Fira Sans', sans-serif;
}

.center{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-spacing: 0 50px;
}

.logButtons{
    height:100%;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    color:black;
    background-color: white;
}

.createAccount{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    color: blue;
}
